* {
    --bs-gutter-x:0!important;
}

body {
    background-image: url('ethanportfoliobackground.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.odibee-sans-regular {
    font-family: "Odibee Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.metal-mania-regular {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
  }

.iconsmall {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 30px;
    text-align: center;
}
.bg-body-tertiary{
    background-color: #0c273d !important;
    color: #ffc6a0 !important;
}

.img {
    display: flex;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

h5 {
    color: white;
}

h6 {
    color: white;
}

.navbar-brand {
    color: #ffc0a7;
}